@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=DynaPuff&family=Encode+Sans+Condensed&family=Fira+Sans&family=Noto+Sans&family=Open+Sans&family=Roboto+Condensed&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font-body{
    font-family: 'Noto Sans';
}

.bg-banner{
    background-image: url("https://internshipgates3.s3.ap-south-1.amazonaws.com/blogImages/background1920.6e1af133.png");
    background-size: cover;
}

.bg-banner2{
    background-image: url(./assets/bgbanner.png);
    background-size: cover;
}